<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    
  </startup>
  <appSettings>
    <add key="TelerikWinFormsThemeName" value="Fluent" />
  </appSettings>
	<connectionStrings>
		<add name="NovbadConection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=NovbatDb;Integrated Security=True" providerName="System.Data.EntityClient"/>
	</connectionStrings>

</configuration>