<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<startup>

		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="TelerikWinFormsThemeName" value="Fluent" />
	</appSettings>
	<connectionStrings>
		<add name="NovbadConection_local"
		     connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=NovbatDb;Integrated Security=True"
		     providerName="System.Data.EntityClient" />
		<add name="NovbadConection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\NovbatDb.mdf;initial catalog=NovbatDb;integrated security=True;"
		     providerName="System.Data.EntityClient" />
	</connectionStrings>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="smsserverBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://188.0.240.110/class/sms/csharpservice_new/server.php" binding="basicHttpBinding"
			          bindingConfiguration="smsserverBinding" contract="SmsServiceFaraz.smsserverPortType" name="smsserverPort" />
		</client>
	</system.serviceModel>
</configuration>